<!DOCTYPE html>
{% extends "base.html" %}
{%load static%}
{% block title %}
Sản phẩm
{% endblock %}
{% block content %}
<div class="banner0   container-lg mt-4 ">
  <div class="bannerinfos  container-xxl d-flex">
    <i class="fa-solid fa-house fa-xxl"></i>
    <i class="fa-solid fa-chevron-right"></i>
    <h5>Sản phẩm </h5>
  </div>
</div>
<div class="container-lg p-3">
  <div class="row  d-flex justify-content-between  align-items-center ">
    <div class="col-2"><a href="" class="btn   btn-primary  w-100">Tất cả</a></div>
    <div class="col-2"><a href="?" class="btn  btn-secondary btn-success  w-100">Áo</a></div>
    <div class="col-2"><a href="?" class="btn   btn-outline-danger  w-100">Quần</a></div>
    <div class="col-2"><a href="?" class="btn   btn-warning  w-100">Đồng hồ</a></div>
    <div class="col-2"><a href="?" class="btn   btn-info   w-100">Dây chuyền</a></div>
    <div class="col-2"><a href="?" class="btn   btn-secondary  w-100">Túi xách</a></div>
  </div>
</div>
<div class="container-lg d-flex flex-wrap  gap-2 justify-content-center " style=" z-index: 1">
  {% for product in products %}
  <div class="card  ">
    <div class style="height: 320px;width: 100%;">
      <div class="card-image">
        <img src="{{product.image.url}}" alt="Card Image">
        <div class="detail ">
          <a href="{% url 'product_detail' product.id %}"
            class=" mt-5 d-flex justify-content-center align-items-center text-center text-light btn btn-outline-danger text-decoration-none">
            Xem chi tiết
          </a>
        </div>
      </div>
      <div class="card-content">
        <h3 class="card-title">{{product.name}}</h3>
      </div>

    </div>
    <div class="d-flex  justify-content-around align-content-center align-items-center py-3 ">
      <p class=" p-0  m-0 card-description">{{product.price}}&nbsp;vnd</p>

      <button class="btn btn-primary w-50 ">
        <a class="text-light text-decoration-none " href="{% url 'add_to_cart' product.id %}">Mua ngay</a>
      </button>
    </div>
  </div>
  {% endfor %}
</div>

{% if messages %}
<div id="notification" class="notification rounded-2  text-success border shadow ">
  {% for message in messages %}
  <b>{{ message }}</b>
  {% endfor %}
</div>
<script>
  // Lấy phần tử thông báo
  var notification = document.getElementById('notification');

  // Hiển thị thông báo
  notification.style.display = 'block';

  // Ẩn thông báo sau 1 giây
  setTimeout(function () {
    notification.style.display = 'none';
  }, 1000);
</script>
{% endif %}
{% endblock %}